#active_admin_content
  #register_header
    %h4= link_to "Help with scheduling a group", "#"
  %p This online system has been set up for your convenience. If you run into problems, don't hesitate to pick up the phone and call Meghan at 916-488-6441 during normal business hours. Alternatively, send her an email at meghan.osborn@sierraserviceproject.org.
  .process-steps.eight-steps
    %ol
      %li.current
        %h5 Step 1
        %p Confirm Church Information
      %li>
        %h5 Step 2
        %p Select Group Type
      %li
        %h5 Step 3
        %p Enter Enrollment Numbers
      %li
        %h5 Step 4
        %p Select First Choice Site and Week
      %li
        %h5 Step 5
        %p Select Additional Choices
      %li
        %h5 Step 6
        %p Confirmation
      %li
        %h5 Step 7
        %p Make Payment
      %li
        %h5 Step 8
        %p Confirmation
    .process_step
      %h1 Step 1
    #current_section

    </ol>
  </div>