<h1 class="process">Agreements</h1>

<div class="process-steps eight-steps">
  <ol>
    <li class="current">
      <h5>Step 1</h5>
      <p>Confirm Church Information</p>
    </li>
    <li>
      <h5>Step 2</h5>
      <p>Select Group Type</p>
    </li>
    <li>
      <h5>Step 3</h5>
      <p>Enter Enrollment Numbers</p>
    </li>
    <li>
      <h5>Step 4</h5>
      <p>Select First Choice Site and Week</p>
    </li>
    <li>
      <h5>Step 5</h5>
      <p>Select Additional Choices</p>
    </li>
    <li>
      <h5>Step 6</h5>
      <p>Confirmation</p>
    </li>
    <li>
      <h5>Step 7</h5>
      <p>Make Payment</p>
    </li>
    <li>
      <h5>Step 8</h5>
      <p>Confirmation</p>
    </li>

  </ol>
</div>
